* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("images/forest-background.jpg");
    margin: 40px 40px;
    
}

.quiz-content{
    background-color: gold;
    margin: auto;
    border-radius: 5px;
}

h1{
    text-align: center;
    color: #5A781D;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

.finalScore, .quizHeader{
    padding-top: 10%;
}

h3{
    text-align: center;
    color: #3E3E3E;
    font-size: 14px;
    font-family: 'Cabin Sketch', cursive;
}

.intro, .question{
    padding-top: 10%;
}

.intro{
    padding-bottom: 10%;
}

ul{
    font-family: 'Cabin Sketch', cursive;
    padding-top: 20px;
    color: #3E3E3E;
}

li{
    text-align: center;
    list-style: none;
    padding-bottom: 5px;  
}

.images{
    width: 220px;
    border-radius: 5px;
}

.answerMessage, .resultsMessage{
    padding-top: 10px;
}

fieldset{
    border: none;
    font-family: 'Cabin Sketch', cursive;
    color: #3E3E3E;
    font-size: 14px;
}

.questionText, h3{
    padding: 10px 10px 20px 10px;
}

legend, button, input{
    text-align: center;
}


label{
    text-align: center;
    padding-top: 3px;
}

.introPage, .questionPage, .answerPage, .resultsPage, fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    vertical-align: baseline;
}

button{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    background-color: rgba(131, 92, 92, 0.575);
    border: none;
    height: 40px;
    width: 100px;
    font-family: 'Pacifico', cursive;
    border-radius: 3px;
}

button:hover{
    background-color: rgb(241, 172, 172)
}

.sizeMe{
    font-size: 20px;
}

.finalScoreTotal{
    color: #3E3E3E;
    font-family: 'Cabin Sketch', cursive;
    padding: 20px 0 20px;
}

@media all and (min-width: 480px){
    h1{
        font-size: 24px;
    }

    fieldset, h3{
        font-size: 16px;
    }
    
    .images{
        width: 380px;
    }
}

@media all and (min-width: 700px){
    h1{
        font-size: 30px;
    }

    fieldset, h3{
        font-size: 20px;
    }

    .quizHeader, .finalScore{
        padding-top: 62px;
    }

    .images{
        width: 700px;
    }

    body{
        margin: 60px;
    }
}

